<h1>This is a secret page</h1>

<p>You found me!</p>
<h3>HELLO WORLD</h3>
<div>
    <ul> 
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>